@import "restyle";

body {
    background-image: url("https://images.unsplash.com/photo-1567376832261-e660f592a007?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    // height: 90vh;
}

#todo-app {
    background: #ffffffcc;
    width: 80%;
    margin: 50px auto 0;
    font-family: "Courier New", Courier, monospace;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #99cd32;
    .wrap {
        margin: 50px;
        text-align: center;
        label {
            font-size: 30px;
            input[type="text"] {
                font-size: inherit;
                width: 30%;
                background: transparent;
                border: none;
            }
        }
    }
    h1 {
        font-size: 50px;
        text-align: center;
        font-family: "Lucida Grande", sans-serif;
        color: #054b33;
    }
}

#spisok {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    li {
        width: 30%;
        font-weight: 600;
        text-align: left;
        max-height: 120px;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        line-height: 30px;
        box-shadow: 0 0 10px #ffffff;
        background-color: #99cd32be;
        span {
            font-weight: lighter;
            padding: 5px;
            color: brown;
            border: 1px solid brown;
            margin-right: 5px;
            border-radius: 5px;
            top: 50%;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

button {
    background: #99cd32;
    border: 2px solid #99cd32;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    color: #054b33;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px #054b33;
        transition-duration: 0.3s;
    }
}

.about_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition-duration: 2s;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(to right bottom, #ffffff85, #afafaf);
    .window_box {
        padding: 30px 0;
        border-radius: 10px;
        width: 50%;
        margin: 35vh auto 0;
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        font-weight: 600;
        background: linear-gradient(to right bottom, #ffffff, #afafaf);
        h2 {
            font-size: larger;
        }
        h4 {
            margin: 10px 0;
        }
        .icons {
            font-size: 30px;
            a {
                margin: 10px;
            }
        }
    }
    .close-wrap {
        width: 50%;
        margin: 0 auto;
        text-align: right;

        .close-text {
            display: inline-block;
            height: 0px;
            font-family: "Courier New", Courier, monospace;
            font-size: smaller;
            padding-right: 40px;
        }
    }
}

.show-info {
    z-index: 1;
    opacity: 1;
}
